<div class="header">
  <div class="header__leftside">
    <div class="header__info">
      <div class="header_icon">
        <img src="../../../../assets/img/logo.svg" />
      </div>
      <div class="header__text">
        <div class="header__title">{{ playlistName }}</div>
        <div class="header__description">
          The most played tracks on SoundCloud this week
        </div>
      </div>
    </div>
    <div class="header__tracks">
      <div class="header__songs">{{ playlistSongCount }}</div>
      <div class="header__name">
        {{ playlistSongCount > 1 ? "tracks" : "track" }}
      </div>
      <div class="header__duration">14:30:27</div>
    </div>
  </div>
  <div class="header__rightside">
    <img src="{{ playlistCoverImage }}" alt="Cover" width="340" height="340" />
  </div>
</div>

<div class="body">
  <div class="body__main">
    <div class="body__buttons">
      <div class="button"><i class="fa-solid fa-heart"></i>Like</div>
      <div class="button"><i class="fa-solid fa-edit"></i>Edit</div>
      <div class="button" (click)="dialog.showModal()">
        <i class="fa-solid fa-trash"></i>Delete
      </div>
    </div>
    <div class="line line--light"></div>
    <div class="main__wrapper">
      <div class="song__wrapper">
        <vio-player [songs]="songs"></vio-player>
      </div>
      <div class="vertical_line"></div>
      <div class="song__rightside">
        <app-artist-feature></app-artist-feature>
      </div>
    </div>
  </div>

  <dialog #dialog>
    <div>Are you sure that want to remove the playlist?:</div>
    <div class="dialog-buttons">
      <div class="dialog-button">
        <button (click)="onDeletePlaylist()">Yes</button>
      </div>
      <div class="dialog-button">
        <button (click)="dialog.close()">No</button>
      </div>
    </div>
  </dialog>
</div>
