<header class="header">
  <div class="header__content">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    <a [routerLink]="['/playlists']" routerLinkActive="router-link-active">Library</a>
    <div class="header__search-input">
      <input type="text" placeholder="Search">
    </div>
    <a [routerLink]="['/upload']" routerLinkActive="router-link-active">Upload</a>
    <img src="../../../../assets/img/profile.svg" height="26" width="26" alt="Profile image">
  </div>
</header>
