.header {
  display: flex;
  justify-content: space-between;
  background-color: #BE938E;
  padding: 20px 50px;

  &__leftside {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    .header__info {
      display: flex;
      align-items: center;
      gap: 20px;

      .header__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .header__title {
          font-size: 24px;
          font-weight: 300;
          color: #333333;
        }
        .header__description {
          font-weight: 400;
          color: #656262;
        }
      }

    }

    .header__tracks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 50%;
      background-color: #E5E5E5;
      width: 110px;
      height: 110px;
      z-index: 999;
      opacity: 0.5;
      margin-bottom: 20px;

      .header__songs {
        font-weight: 700;
        font-size: 24px;
        color: black;
      }

      .header__name {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        z-index: 998;
      }
      .header__duration {
      }
    }
  }

  &__rightside {
  }
}

.body__buttons {
  display: flex;
  gap: 10px;
  margin: 10px 50px;
  margin-bottom: 0px;

  .button {
    cursor: pointer;
    width: 50px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #666666;

    i {
      margin-right: 2px;
    }
  }

}

.body {
  padding: 20px 50px;

  display: flex;
  gap: 30px;

  &__main {
    border-right: 1px solid #999999;
    padding-right: 30px;
    width: 800px;

  }

  &__rightside {
    // flex: 0 0 280px;
    width: 280px;

    .rightside__title {
      font-size: 20px;
      color: #999999;
    }
    .rightside__song {

      display: flex;
      align-items: center;
      gap: 5px;

      .song__text {
        color: #666666;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .song__artist {
          font-weight: 700;
          font-size: 14px;
        }

        .song__title {
          font-weight: 400;
          font-size: 14px;
        }

        .song__info {
          display: flex;
          gap: 10px;
          font-weight: 300;
          font-size: 11px;

          i {
            margin-right: 2px;
          }

          .song__size {
          }
          .song__likes {
          }
          .song__comments {
          }
        }

      }



    }

  }
}

.line {
  border-bottom: 1px solid #999999;
  padding-bottom: 12px;
  margin-bottom: 12px;

  &.line--light {
    border-color: #d6d6d6;
  }
}


