<div class="rightside__title">Artists featured</div>
<div class="line line--light"></div>
<div class="rightside__song">
  <div class="song__image">
    <img src="../../../../assets/img/playlist-cover.png" alt="Title" width="50" height="50">
  </div>
  <div class="song__text">
    <div class="song__artist">Arming van Buuren</div>
    <div class="song__title">Blue Fear</div>
    <div class="song__info">
      <div class="song__size"><i class="fa-solid fa-play"></i>17.2M</div>
      <div class="song__likes"><i class="fa-solid fa-heart"></i>1072</div>
      <div class="song__comments"><i class="fa-solid fa-comment"></i>72</div>
    </div>
  </div>
</div>
