<footer class="footer">
  <div class="grid--footer">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="logo" alt="ViMusic" src="../../../../assets/img/logo.svg">
      </a>
      <ul class="social-links">
        <li>
          <a class="footer-link" href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="footer-link" href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="footer-link" href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
      <p class="copyright">
        Copyright &copy; <span class="year">2023</span> by ViMusic,
        Inc. All rights reserved.
      </p>
    </div>
    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">A623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
        <p>
          <a href="tel:415-201-6370" class="footer-link">415-201-6370</a>
          <br />
          <a href="mailto:support@vimuisc.com" class="footer-link">support@vimusic.com</a>
        </p>
      </address>
    </div>
    <nav class="nav-col">
      <p class="footer-heading">Account</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">Create account</a>
        </li>
        <li>
          <a href="#" class="footer-link">Sign in</a>
        </li>
        <li>
          <a href="#" class="footer-link">iOS app</a>
        </li>
        <li>
          <a href="#" class="footer-link">Android app</a>
        </li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">About ViMusic</a>
        </li>
        <li>
          <a href="#" class="footer-link">For Business</a>
        </li>
        <li>
          <a href="#" class="footer-link">Music partners</a>
        </li>
        <li>
          <a href="#" class="footer-link">Careers</a>
        </li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Resources</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">Playlists directory</a>
        </li>
        <li>
          <a href="#" class="footer-link">Help center</a>
        </li>
        <li>
          <a href="#" class="footer-link">Privacy & terms</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
