.song__container {
  .main__song {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666666;
    width: 100%;

    .song__image {
    }

    .song__info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .song__text {
        display: flex;

        .song__number {
          margin-right: 5px;
        }
        .song__artist {
          margin-right: 5px;
          font-weight: 700;
        }
        .song__title {

        }
      }

      .song__duration {
      }

    }
  }
}


.line {
  border-bottom: 1px solid #999999;
  padding-bottom: 12px;
  margin-bottom: 12px;

  &.line--light {
    border-color: #d6d6d6;
  }
}
